*{
  font-family: "montserrat";
}

#container{
  width : 500px;
  margin : 100px auto;
  background-color: #fff;
  color : white;
}
.toggle{
  text-decoration: line-through;
}
ul{
  list-style: none;
  margin : 0;
  padding: 0;
}
li{
  height: 40px;
  line-height: 40px;
  background-color: #fb0091;
  color : white;
  padding-left: 10px;
}
li:nth-child(2n){
  background-color: #64c4ed;
  color: black;
}



li:hover span{
  width : 40px;
  opacity: 100%;
}
h1{
  margin: 0;
  padding: 10px 0 10px 20px;
  font-size: 20px;
  background-color: #000839;
}
input[type='text']{
  width : 100%;
  box-sizing: border-box;
  padding: 10px;
  outline: none;
}
.fa-pencil{
  float: right;
  margin-right: 20px;
}
span{
  float : right;
  line-height: 40px;
  background-color: #272343;
  color : white;
  width : 0;
  text-align: center;
  opacity: 0;
}
